<p>
  <strong>Name:</strong>
  <%= @tax_rate.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @tax_rate.rate %>
</p>

<%= link_to 'Edit', edit_tax_rate_path(@tax_rate) %> |
<%= link_to 'Back', tax_rates_path %>
